@inherits UmbracoViewPage<QuizViewModel>
@using Quiz.Site.Models

@if (Model == null || Model.Questions == null || !Model.Questions.Any()) return;


@using (Html.BeginUmbracoForm("Submit", "QuizSurface", FormMethod.Post, new { @class = "text-left" }))
{
		var questionIndex = 0;
		@for(var q = 0; q < 2; q++)
		{
			<div class="form-group">
				<h3>Question @(q + 1)</h3>
				<p>@Model.Questions[q].QuestionText</p>
				<span asp-validation-for="@Model.Questions[q].Answer"></span>
				@for(var a = 0; a < 4; a++)
				{
					<div class="radio">
						<label>
							<input type="radio" checked="@(Model.Questions[q].Answers[a].Selected ? "checked" : null)" asp-for="@Model.Questions[q].Answer" value="@(Model.Questions[q].Answers[a].Value)" />
							<span>@(Model.Questions[q].Answers[a].Text)</span>
						</label>
					</div>
				}
			</div>
			questionIndex++;
		}
		@foreach(var question in Model.Questions)
		{
			
		}
        <div class="form-group">
            <button class="btn btn-primary btn-block btn-lg" type="submit">Update</button>
        </div>
}