@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<EditProfileViewModel>

@using Quiz.Site.Models

@{
    var submitted = false;
    if (bool.TryParse(TempData["Success"]?.ToString() ?? "", out var success))
    {
        submitted = true;
    }
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-12 text-center">
            <p>You need to be logged in before you can edit your profile. <a href="/login/">Login</a></p>
        </div>
    </div>
}
else
{
    if (submitted)
    {
        if (success)
        {
            <div class="row">
                <div class="col-12 text-center">
                    @if (success)
                    {
                        <p>Thanks for registering. You can now <a href="/login/">Login</a></p>
                    }
                    else
                    {
                        <p>There was an error when trying to register. Please try again later.</p>
                    }
                </div>
            </div>
        }
    }
    else
    {
        using (Html.BeginUmbracoForm("EditProfile", "ProfileSurface", FormMethod.Post, new { @class = "text-left" }))
        {
            <div class="form-group">
                <label asp-for="@Model.Avatar" />
                <div>
                    <input asp-for="@Model.AvatarUrl" type="hidden" />
                    <img class="image-fluid" src="@(Model.AvatarUrl ?? "/img/profile.png")" />
                </div>

                <input type="file" name="Avatar" id="Avatar" />
                <span asp-validation-for="@Model.Avatar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Name" />
                <input asp-for="@Model.Name" class="form-control" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block btn-lg" type="submit">Update</button>
            </div>
        }
    }
}