@using Quiz.Site.Services
@using Umbraco.Cms.Core.Security
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@inject INotificationRepository _notificationRepository;
@inject IAccountService _accountService;
@inject IMemberManager _memberManager;

@{
    Layout = null;    
    Member memberModel = null;
    var isLoggedIn = User.Identity.IsAuthenticated;
    if(isLoggedIn)
    {
        memberModel = _accountService.GetMemberModelFromUser(await _memberManager.GetCurrentMemberAsync());
    }
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("/assets/img/assets/img/fav_32x32.png")">
    <link rel="icon" type="image/png" href="@Url.Content("/assets/img/assets/img/fav_32x32.png")">

    <meta name="Name" content="Umbraco Community Quiz" />
    <meta name="Description" content="Gamifying learning to help the Umbraco community to level up together" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://communityquiz.net/" />
    <meta property="og:title" content="Umbraco Community Quiz" />
    <meta property="og:description" content="Gamifying learning to help the Umbraco community to level up together" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@@CodeSharePaul">
    <meta name="twitter:creator" content="@@CodeSharePaul">
    <meta name="twitter:title" content="Umbraco Community Quiz">
    <meta name="twitter:description" content="Gamifying learning to help the Umbraco community to level up together">

    <meta property="og:image" content="https://communityquiz.net/media/c5bfz3b5/umbraco-flag.jpg?rxy=0.39974937343358397,0.667568286429962&width=1200&height=630&rnd=133093529598370000">
    <meta name="twitter:image" content="https://communityquiz.net/media/c5bfz3b5/umbraco-flag.jpg?rxy=0.39974937343358397,0.667568286429962&width=1200&height=630&rnd=133093529598370000">

    <title>
        @Model.Name | Umbraco Community Quiz
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="@Url.Content("/assets/css/nucleo-icons.css")" rel="stylesheet" />
    <link href="@Url.Content("/assets/css/nucleo-svg.css")" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="@Url.Content("/assets/css/nucleo-svg.css")" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="@Url.Content("/assets/css/argon-dashboard.css?v=2.0.5")" rel="stylesheet" />
    <script src="/assets/js/plugins/moment.min.js"></script>
</head>

<body class="g-sidenav-show   bg-gray-100">
    <div class="min-height-300 bg-primary position-absolute w-100"></div>
    @await Component.InvokeAsync("DashboardNavigation")
    <main class="main-content position-relative border-radius-lg ">
        <!-- Navbar -->
        <nav class="navbar navbar-main navbar-expand-lg  px-0 mx-4 shadow-none border-radius-xl z-index-sticky " id="navbarBlur" data-scroll="false">
            <div class="container-fluid py-1 px-3">
                <nav aria-label="breadcrumb">
                    <h6 class="font-weight-bolder mb-0 text-white">@Model.Name</h6>
                </nav>
                <div class="sidenav-toggler sidenav-toggler-inner d-xl-block d-none mx-2 ">
                    <a href="javascript:;" class="nav-link p-0">
                        <div class="sidenav-toggler-inner">
                            <i class="sidenav-toggler-line bg-white"></i>
                            <i class="sidenav-toggler-line bg-white"></i>
                            <i class="sidenav-toggler-line bg-white"></i>
                        </div>
                    </a>
                </div>
                <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                    <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                    </div>
                    <ul class="navbar-nav  justify-content-end">
                        <li class="nav-item d-flex align-items-center mx-2">
                            @if (User.Identity.IsAuthenticated)
                            {
                                using (Html.BeginUmbracoForm("Logout", "AuthSurface", FormMethod.Post))
                                {
                                    <button class="btn btn-sm  btn-primary  mb-0 me-1" type="submit"><i class="fa fa-user me-sm-1"></i> Logout</button>
                                }
                            }
                            else
                            {
                                <a href="/login/" class="nav-link text-white font-weight-bold px-0" target="_blank">
                                    <i class="fa fa-user me-sm-1"></i>
                                    <span class="d-sm-inline d-none">Sign In</span>
                                </a>
                            }

                        </li>
                        <li class="nav-item d-xl-none ps-3 d-flex align-items-center mx-2">
                            <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
                                <div class="sidenav-toggler-inner">
                                    <i class="sidenav-toggler-line bg-white"></i>
                                    <i class="sidenav-toggler-line bg-white"></i>
                                    <i class="sidenav-toggler-line bg-white"></i>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item dropdown pe-2 d-flex align-items-center">
                            @if(memberModel != null)
                            {
                                @await Component.InvokeAsync("BellNotifications", memberModel)
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="container-fluid py-4">
            <div class="d-sm-flex justify-content-between">
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--   Core JS Files   -->
    <script src="@Url.Content("/assets/js/core/popper.min.js")"></script>
    <script src="@Url.Content("/assets/js/core/bootstrap.min.js")"></script>
    <script src="@Url.Content("/assets/js/plugins/perfect-scrollbar.min.js")"></script>
    <script src="@Url.Content("/assets/js/plugins/smooth-scrollbar.min.js")"></script>

    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="@Url.Content("/assets/js/argon-dashboard.min.js?v=2.0.5")"></script>

</body>

</html>