@using Umbraco.Cms.Web.Common.PublishedModels;
@using Quiz.Site.Services
@using Umbraco.Cms.Core.Security
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@inject IAccountService _accountService;
@inject IMemberManager _memberManager;

@{
	Layout = null;
    var memberModel = _accountService.GetMemberModelFromUser(await _memberManager.GetCurrentMemberAsync());
}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/assets/img/favicon.png">
  <title>
    @Model.Name | Umbraco Community Quiz
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="@Url.Content("/assets/css/nucleo-icons.css")" rel="stylesheet" />
  <link href="@Url.Content("/assets/css/nucleo-svg.css")" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="@Url.Content("/assets/css/nucleo-svg.css")" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="@Url.Content("/assets/css/argon-dashboard.css?v=2.0.5")" rel="stylesheet" />
</head>

<body class="">
    @(await Component.InvokeAsync("Navigation"))
    @RenderBody()
  <!--   Core JS Files   -->
  <script src="@Url.Content("/assets/js/core/popper.min.js")"></script>
  <script src="@Url.Content("/assets/js/core/bootstrap.min.js")"></script>
  <script src="@Url.Content("/assets/js/plugins/perfect-scrollbar.min.js")"></script>
  <script src="@Url.Content("/assets/js/plugins/smooth-scrollbar.min.js")"></script>
  <!-- Kanban scripts -->
  <script src="@Url.Content("/assets/js/plugins/dragula/dragula.min.js")"></script>
  <script src="@Url.Content("/assets/js/plugins/jkanban/jkanban.js")"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="@Url.Content("/assets/js/argon-dashboard.min.js?v=2.0.5")"></script>
    <script src="/assets/js/plugins/moment.min.js"></script>

  @await Component.InvokeAsync("ToastNotifications", memberModel)
</body>

</html>