@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<LoginViewModel>

@using Quiz.Site.Models

@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-12 text-center">
            <p class="mb-5">Signed in as @User.Identity.Name</p>
        </div>
    </div>
}
else
{
    using (Html.BeginUmbracoForm("Login", "AuthSurface", FormMethod.Post))
    {
        <label asp-for="@Model.Username"></label>
        <div class="mb-3">
            <input asp-for="@Model.Username" class="form-control" placeholder="Email" aria-label="Email" />
            <span asp-validation-for="@Model.Username" class="text-danger"></span>

        </div>
        <label asp-for="@Model.Password"></label>
        <div class="mb-3">
            <input asp-for="@Model.Password" type="password" class="form-control" placeholder="Password" aria-label="Password" />
            <span asp-validation-for="@Model.Password" class="text-danger"></span>
        </div>
        <div class="form-check form-check-info text-left">
            <input asp-for="@Model.RememberMe" type="checkbox" class="form-check-input" />
            <label asp-for="@Model.RememberMe" class="form-check-label">
            Remember me
            </label>
            <span asp-validation-for="@Model.RememberMe" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block btn-lg" type="submit">Login</button>
        </div>
    }
}